html, body {
    margin: 10;
    padding: 10;
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 0 auto;
}

.square {
    width: 20px;
    height: 20px;
    background-color: aqua;
}

.snake {
    background-color: red;
}

.apple {
    background-color: orange;
}
